.logo-tv{
    /* margin-left: 6%; */
    max-width: 50%;
    margin-top: 5%;   
}

@keyframes translate {
    from { transform: translate(0, 600); }
    to { transform: translate(0, 0); }
}

.horario-tv{
    font-size: 20px;
    /* margin-left: 5%;    */
    margin-top: 5%;   
    font-weight: bold;
    text-align: center;
}

.contenido-tv{
    font-size: 20px;
    margin-right: 5%;   
    margin-top: 5%;   
    font-weight: bold;
    text-align: center;
}

.program-tv{
    font-size: 18px;   
    margin-left: 5%;   
    text-align: center
}

.shedule-tv{
    font-size: 18px;   
    margin-left: 12rem;
    /* text-align: center; */
}

.btn-canal{
    font-size: 18px;
    padding-bottom: 15px;
    animation-name: translate;
    animation-duration: 1;
}

.btn{
    padding: 5px;
}