// Custom common variables
@import '../app-variables';

    
TabView {
    tab-text-color: rgba(151, 172, 224, 0.589);
    selected-tab-text-color: rgb(255, 255, 255);  
    tab-background-color:#2A56C6;
    android-selected-tab-highlight-color:rgb(255, 255, 255);
}