.cardStyle {
    background-color: white;
    color:black;
}

.office{
    color: red;
    text-align: center;
    margin-left: 7%;    
    font-size: 17rem;
    /* display: block;    */
}

.office-santiago{
    animation-name: opacity;
    animation-duration: 1;
}

.office-sd{
    animation-name: opacity;
    animation-duration: 2;
}

.social-following{
    animation-name: opacity;
    animation-duration: 3;
}

@keyframes opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}


@keyframes heartbeat {
    0% { transform: scale(1, 1); }
    25% { transform: scale(1.2, 1.2); }
    50% { transform: scale(1.3, 1.3); }
    75% { transform: scale(1.2, 1.2); }
    100% { transform: scale(1, 1); }
 }
 

.text-followed{
    color: red;
    text-align: center;
    font-size: 17rem;
}

.name-social-followed{
    color:rgb(35, 77, 160);
    font-size: 11rem;
    font-weight: 400;
}

.default-card-view{
  font-size: 14rem;   
  margin-left: 5rem;
}

.font-awesome {
    font-family: "FontAwesome";
    font-size: 13rem;
}

.btn{
    font-size: 14rem;
    margin-left: 7%; 
    /* background-color: red; */
}
