.cardStyle {
    background-color: white;
    color:black;
}

.office{
    color: red;
    text-align: center;
    margin-left: 20rem;    
    font-size: 20rem;
}

.default-card-view{
  font-size: 14rem;   
  margin-left: 5rem;
}

.font-awesome {
    font-family: "FontAwesome";
    /* font-size: 20rem; */
}

.btn{
    font-size: 15rem;
    margin-left: 40rem;
    /* background-color: red; */
}
