
<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Contactos" style="Color: #ffffff;"></Label>
</ActionBar>

<StackLayout horizontalAlignment="stretch">
    <ScrollView orientation="vertical" ios.pagingEnabled="true" >
        <StackLayout orientation="vertical">

            <!-- Santiago -->
            <CardView class="cardStyle" class="office-santiago" marginTop="10" margin="10" elevation="20" radius="1" >
                    
                <GridLayout rows="15,40,20,30,30,50,5" [columns]="xColumnas"> 
                    <CardView class="cardStyle" col="0" row="0"  rowSpan="6" margin="10" elevation="10" radius="1"><ImageZoom src="res://oficinasantiago" maxZoom="4" minZoom="2" stretch="fill"></ImageZoom></CardView>
                    <!-- <CardView class="cardStyle" col="0" row="0" colSpan="2" rowSpan="8" margin="10" elevation="10" radius="1"><Image src="res://oficinasantiago" stretch="aspectFill" shadow="5"></Image></CardView> -->
                    <Label class="office text-left" horizontalAlignment="left" text="Oficina Santiago" row="1" col="1" colSpan="3"></Label>	
                    <Label class="default-card-view   font-awesome" horizontalAlignment="left" text="&#xf041; Av. Las Carreras, Edif. A-15" textWrap="true" col="1" row="2" colSpan="2"></Label>      
                    <Label class="default-card-view  font-awesome" horizontalAlignment="left" text="Apart 2E. Santiago, RD" textWrap="true" col="1" row="3" ></Label>   
                    <Label class="default-card-view  font-awesome" horizontalAlignment="left" text="&#xf017; 8:00am - 6:00pm" textWrap="true" col="1" row="4" ></Label>
                    <Button class="font-awesome btn btn-primary" horizontalAlignment="left" text="&#xf098; Llamar ahora"  row="5" textWrap="true" col="1" (tap)="callHome('809-724-0272')"  width="150" ></Button>
                </GridLayout>
            </CardView>

            <!-- Santo Domingo -->
            <CardView class="cardStyle"  class="office-sd" margin="10" elevation="20" radius="1" >
                    <GridLayout rows="15,40,20,20,30,30,50,5" [columns]="xColumnas">
                        <!-- <CardView class="cardStyle" col="0" row="0" colSpan="2" rowSpan="8" margin="10" elevation="10" radius="1"><Image src="res://locationsantod" stretch="aspectFit" shadow="5"></Image></CardView> -->
                        <CardView class="cardStyle" col="0" row="0"  rowSpan="7" margin="10" elevation="10" radius="1"><ImageZoom src="res://locationsantod" maxZoom="4" minZoom="2" stretch="fill"></ImageZoom></CardView>
                        <Label class="office text-left" horizontalAlignment="left" text="Oficina Sto Dgo" row="1" col="1" colSpan="3"></Label>	
                        <Label class="default-card-view   font-awesome" horizontalAlignment="left" text="&#xf041; Emilio a Morel #35 Edificio" textWrap="true" col="1" row="2" colSpan="5"></Label>      
                        <Label class="default-card-view  font-awesome" horizontalAlignment="left" text="Profesional, 2do Nivel" textWrap="true" col="1" row="3" ></Label>   
                        <Label class="default-card-view  font-awesome" horizontalAlignment="left" text="Ensanche la fe, Sto Dgo, RD" textWrap="true" col="1" row="4" ></Label> 
                        <Label class="default-card-view  font-awesome" horizontalAlignment="left" text="&#xf017; 8:00am - 6:00pm" textWrap="true" col="1" row="5" ></Label>
                        <Button class="font-awesome btn btn-primary" horizontalAlignment="left" text="&#xf098; Llamar ahora"  textWrap="true" col="1" row="6"  (tap)="callHome('809-626-7885')"  width="150"></Button>
                    </GridLayout>
                </CardView>

                <!-- Redes Sociales <Siguenoos> -->
                <CardView class="cardStyle"  class="social-following" margin="10" marginBottom="10" elevation="10" radius="1" >
                        <GridLayout rows="5,30,10,35,15,5" columns="15,*,*,*,*,15">
                            <Label class="text-followed" horizontalAlignment="center" text="Siguenos" row="1" col="1" colSpan="4"></Label>	
                            <!-- Facebook -->
                            <Image src="res://facebook" stretch="aspectFit" col="1" row="3" (tap)="openSocial('https://www.facebook.com/joseph.tavarez.359')"></Image>
                            <Label class="name-social-followed" horizontalAlignment="center" text="Facebook" col="1" row="4"></Label>
                            <!-- YouTube -->
                            <Image src="res://youtube" stretch="aspectFit" col="2" row="3" (tap)="openSocial('https://www.youtube.com/channel/UCuZhMYqg3hnsT-2MXTQGbFw')"></Image>
                            <Label class="name-social-followed" horizontalAlignment="center" text="YouTube" col="2" row="4"></Label>
                            <!-- Instagram -->
                            <Image src="res://instagram" stretch="aspectFit" col="3" row="3" (tap)="openSocial('https://www.instagram.com/control_diamante/')"></Image>
                            <Label class="name-social-followed" horizontalAlignment="center" text="Instagram" col="3" row="4"></Label>
                            <!-- Web -->
                            <Image src="res://world" stretch="aspectFit" col="4" row="3" (tap)="openSocial('http://controldiamante.com/')"></Image>
                            <Label class="name-social-followed" horizontalAlignment="center" text="Web" col="4" row="4"></Label>
                            
                        </GridLayout>
                </CardView>        
        </StackLayout>
    </ScrollView>
</StackLayout> 



  